<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="fa fa-twitter-square">
          </a>
        {% endif %}

        {% if site.instagram_username %}
          <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="fa fa-instagram">
          </a>
        {% endif %}

        {% if site.instagram_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="fa fa-facebook">
          </a>
        {% endif %}
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <button class="store-btn">Visit our Store</button>
      </div>
    </div>

  </div>

</footer>
