// home styling

.page-content--home {
  background: url('../img/home--background.jpg') no-repeat center center fixed;
  background-color: #959DA9;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  .links--home {
    bottom: 0;
    color: white;

    .contact {
      display: block;
      float: left;
      left: 20px;
      position: absolute;

      a {
        color: white;
        padding-right: 10px;
      }
    }

    .store {
      display: block;
      float: left;
      right: 20px;
      position: absolute;
    }
  }
}

.wrapper--home {
  .logo {
    display: block;
    padding-top: 15%;
    margin: 0 auto;
    width: 80%;
  }
  .about {
    margin: 40px auto;
    width: 60%;

    h2 {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      text-align: center;
      letter-spacing: .1rem;
    }

    p {
      font-family: 'Libre Baskerville', serif;
      font-size: 22px;
      text-align: justify;
    }
  }
}
